* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #710193;
  --primary-color-dark: #311432;
  --custom-light-grey: #f9f9fa;
  --primary-color-gradient: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--primary-color-dark) 100%
  );
}

.authentication_page {
  background: linear-gradient(
    307.87deg,
    var(--primary-color-dark) 24.73%,
    var(--primary-color) 76.52%
  );
  height: 100vh;
}

.primary_color {
  color: var(--primary-color) !important;
}
.primary_color_dark {
  color: var(--primary-color-dark) !important;
}
.primary_bg_color {
  background-color: var(--primary-color) !important;
}
.primary_bg_color_gradient {
  background: var(--primary-color-gradient);
}
.custom_light_grey_color {
  color: var(--custom-light-grey) !important;
}
.custom_light_grey_bg_color {
  background-color: var(--custom-light-grey) !important;
}

.sidebar__text {
  word-break: break-all;
}

.sidebar_container {
  /* height: 90vh; */
  /* position: sticky; */
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0.8rem 3rem 0.9rem;
  font-size: 0.875em;
  height: 93vh;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--custom-light-grey);
}
.sidebar__item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.7rem;
  text-decoration: none;
  border-radius: 7px;
}
.sidebar__item-active {
  background-color: var(--primary-color);
  color: #ffffff;
}
.sidebar__item-active,
.sidebar__item:hover {
  background-color: var(--primary-color);
  color: #fff !important;
  transition: background 0.8s;
}

.auth_card {
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem;
}

.btn_text {
  font-size: 0.8rem;
  letter-spacing: 0.6px;
}

.news_card {
  border: none;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.news_card__image {
  height: 193px;
}

@media only screen and (min-width: 576px) {
  .search_box {
    width: 350px;
  }
}
